<div hidden id="tobeexported">
  <div ng-if="report.data" class="text-center container-fluid">
    <h2 class="card-header">{{model.tableName | convertToReadable }}</h2>
    <table class="card-body table table-sm table-bordered">
      <thead class="thead-dark">
        <th ng-if="model.columnList && model.columnList.indexOf(header) !== -1" ng-repeat="header in (tableList | filter: {tableName: model.tableName})[0].tableColumns">
          {{(tableList | filter: {tableName: model.tableName})[0].columnLabels[$index]}}
        </th>
      </thead>
      <tr ng-repeat="row in report.data | filter: multipleFilter">
        <td ng-if="model.columnList.indexOf(header) !== -1" ng-repeat="(header, value) in row">
          {{value}}
        </td>
      </tr>
    </table>
    <div class="card-footer">
      <span>Date created: {{date_created | date: 'medium'}}</span>
    </div>
  </div>
</div>
